* {
  margin: 0;
  padding: 0;
}
body {
  width: 1280px;
}

.head-lable {
  display: flex;
  margin: 63px 0px 10px 98px;
}

.head-lable1 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
}
.head-lable2 {
  color: #4bcaff;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
}

.head-lable > a {
  text-decoration: none;
}

.nav-ul {
  display: flex;
  justify-content: center;
  margin-left: 98px;
  background-color: #35444f;
  width: 1280px;
  height: 70px;
  align-items: center;
}
.nav-ul-li,
.nav2-ul-li {
  list-style: none;
}

.nav-ul-li > a {
  text-decoration: none;
  color: #fff;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 20px;
}
.nav-ul-li>a:hover {
  
  background-color: rgba(34, 47, 58, 1);
}
.main {
  display: flex;
}

.nav2-ul {
  margin: 20px 52px 0px 98px;
  border: 1px solid rgba(0, 0, 0, 1);
}
.nav2-ul-li {
  padding: 30px 25px;
  width: 286px;
}
.nav2-ul-li > a {
  text-decoration: none;
  color: #485863;
  font-family: Roboto;
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px;
}
.nav2-ul-li:hover {
  text-align: right;

  background-color: rgba(73, 88, 99, 0.5);
}

.div-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 885px;
  height: 529px;
  flex-shrink: 0;
  border: 1px solid rgba(0, 0, 0, 1);
  margin: 20px auto;
}

.img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

.footer-nav {
  margin: 20px 0px 20px 0px;
}

.footer-nav-ul {
  display: flex;
  justify-content: center;
  margin-left: 98px;
  background-color: rgba(73, 88, 99, 0.5);
  width: 1280px;
  height: 70px;
  align-items: center;
}
.footer-nav-ul-li {
  list-style: none;
}

.footer-nav-ul-li > a {
  text-decoration: none;
  color: #0c1927;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; 
  padding: 20px;
}

.footer-lable {
  color: #010101;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  list-style: none;
  padding-left: 100px;
}
.footer-nav-ul-li>a:hover {
    color: #3181A6;
  }